@media (min-width: 800px) {
    .product-listing {
        width: 70%;
        border-right: $border-style;
    }
    .product-details {
        width: 75%;
        max-width: none;
        .thumbnail {
            width: 45%;
            padding-right: 4%;
        }
        .copy-container {
            width: 50%;
        }
    }
    .product-list-button {
        width: 24%;
        text-align: center;
    }
    .mini-cart {
        width: 29%;
        margin-top: 0;
    }

}