@mixin base-style($text-color, $bg-color) {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: $text-color;
    background-color: $bg-color;
}

@mixin center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}