@mixin base-style($text-color) {
	background-color: $main-color;
	font-family: 'Rambla', sans-serif;
    font-size: 18px;
    color: $text-color;
}

@mixin center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin link-style {
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid;
    color: lighten($main-color, 30%);
    &:hover {
        border-bottom: none;
    }
}