* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include base-style($dark-grey, $white);
    max-width: 1440px;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

button {
    @include base-style($white, $mid-grey);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    &:hover {
        cursor: pointer;
        opacity: .5;
    }
}

.message-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.active-notification {
    -webkit-animation: 2s slide-up;
    animation: 2s slide-up;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.notification, .error {
    @include base-style($white, $light-grey);
    padding: 15px 0;
    margin: 0 auto;
}

.product-page {
    position: relative;
    padding: 80px 20px;
}

.product-listing, .mini-cart {
    display: inline-block;
    vertical-align: top;
    padding: 0 4%;
}

.product-listing {
    width: 100%;
    .product {
        border-bottom: $border-style;
        padding: 25px 0px;
        &:first-child {
            border-top: $border-style;
        }
    }
}

.product-details {
    width: 75%;
    display: inline-block;
    .description {
        margin-bottom: 10px;
    }
}

.product-list-button {
    padding-top: 35px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.mini-cart {
    width: 100%;
    margin-top: 30px;
}

.mini-cart-heading {
    @include base-style($white, $mid-grey);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.mini-cart-content {
    padding: 20px;
}

.mini-cart-container {
    border: $border-style;
    border-radius: 5px;
    .product {
        padding-bottom: 25px;
        margin-bottom: 15px;
        border-bottom: $border-style;
    }
    .name {
        margin-bottom: 10px;
    }
    .price {
        display: inline-block;
        padding-top: 5px;
    }
    .delete-item {
        border-radius: 100%;
        @include base-style($dark-grey, $white);
        border: 1px solid $dark-grey;
        padding: 5px 8px;
        float: right;
    }
}

.price {
    color: $mid-grey;
}

